<h1>New visit</h1>

<%= error_messages_for :visit %>

<% form_for(@visit) do |f| %>
  <p>
    <b>Count</b><br />
    <%= f.text_field :count %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', visits_path %>
